/* import fonts */
@import './font/Inter/inter.css';
@import './font/Manrope/manrope.css';
@import './font/Raleway/raleway.css';

:root {
  /* colour scheme */
  --light: #dedede;
  --dark: #13181f;
  --orange: #e28d24;
  --dark-orange: #dd6727;
  --darkest-orange: #f34c2f;
}

body {
  background-color: var(--dark);
  color: var(--light);
  overflow-x: hidden;
}

h1 {
  font-weight: 1000;
  font-family: Inter;
  text-align: center;
  font-size: 7rem;
  letter-spacing: 4px;
  color: var(--darkest-orange);
}

p {
  font-family: Raleway;
  font-size: 2rem;
}

#descgp {
  margin-left: 15%;
  margin-right: 10%;
  text-align: center;
}