/* import fonts */
@import './font/Inter/inter.css';
@import './font/Manrope/manrope.css';
@import './font/Raleway/raleway.css';

:root {
  /* colour scheme */
  --light: #dedede;
  --dark: #13181f;
  --orange: #e28d24;
  --dark-orange: #dd6727;
  --darkest-orange: #f34c2f;
}

body {
  background-color: var(--dark);
  color: var(--light)
}